@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer {
  background-color: #232536;
  padding: 54px 0;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  /* Light */
  color: #ffffff;
  opacity: 0.7;
}
footer .footer .imgs-1 {
  display: flex;
  gap: 25px;
}

@media (max-width: 780px) {
  .footer p {
    opacity: 1 !important;
  }
}
@media (max-width: 500px) {
  .footer {
    flex-direction: column;
  }
  .footer * {
    text-align: center;
  }
}
.nav {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-r {
  display: flex;
  align-items: center;
}
.nav .nav-r .menus a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  padding-right: 24px;
}
.nav .nav-r button a {
  background: #ffffff;
  border: none;
  padding: 16px 48px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
}

.hum {
  display: none;
}

nav {
  background: #232536;
}

#navbar-responsive {
  position: fixed;
  left: 0;
  bottom: 0;
  top: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  transition: 0.5s;
}

.hj {
  display: none;
}

.close {
  text-align: end;
}

.m a {
  text-align: center;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  padding-right: 24px;
  flex-direction: column !important;
}

@media (max-width: 780px) {
  .menus {
    display: none;
  }
  .hum {
    padding-right: 20px;
    display: block;
  }
}
@media (max-width: 650px) {
  .nav-r button {
    display: none;
  }
  .hj {
    display: block;
  }
  .hj {
    padding-top: 40px;
    text-align: center;
  }
  .hj a {
    background: #ffffff;
    border: none;
    padding: 16px 48px;
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #232536;
  }
}
.hellos {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  /* or 114% */
  letter-spacing: -2px;
  /* Light */
  color: #ffffff;
}