.pl {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */

  letter-spacing: -2px;

  /* Black */

  color: #232536;
}

#add {
  width: 175px;
  height: 56px;
  background: #ffd050;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  p {
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #232536;
  }
}
.beg {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

main {
  padding: 40px 0 105px;
}
.change {
  text-align: end;
  padding-bottom: auto;
} 
form {
  input {
    margin: 15px 0 ;
  }
}

.img-23 {
  img {
    width: 547.29px !important;
    height: 318px !important;
  }
}

.post {
  display: flex;
  justify-content: space-between;
  width: 100% ;
  height: 318px !important;
  gap: 20px ;
  .card-row-l {
    width: 100%;
  }
  .card-row-r   {
    width: 100%;
  }
}

.cards-my {
  display: flex !important;
  flex-direction: column !important;
  gap: 40px !important;
  justify-content: center !important;
  align-items: center !important;
}

