.re {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  text-align: center;
  letter-spacing: -2px;

  color: #232536;
}

form {
  display: flex;
  flex-direction: column;
  gap: 21px;
  input {
    width: 100% !important;
    height: 76px !important;
  }
  button {
    background: #ffd050;
    width: 100%;
    height: 64px;

    p {
      font-family: "Sen";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;

      color: #232536;
      text-align: center;
    }
    border: 1px solid #ffd050;
  }
}
.containers {
  max-width: 768px;
  margin: 0 auto;
}

main {
  padding: 69px 0 150px;
}
